
h1 {
    color: #000000;
    font-family: Lato;
    background-color: #ffffff;
  }
  
  h2 {
    color: white;
    font-family: Lato;
    background-color: #f3d3b7;
  }
  h3 {
    color: #000000;
    font-family: Lato;
    background-color: #ddd;
    padding: 25px 25px;
    width: 600px;
    margin: 0 auto;
    font-size: 17px;
  }
  
  h4 {
    color: #000000;
    font-family: lato;
    background-color: #ddd;
    padding: 25px 25px;
    width: 600px;
    margin: 0 auto;
    font-size: 15px;
  }
  p {
    color: #000000;
    font-family: Lato;
    background-color: none;
    text-align: left;
  }
  
  ul {
    text-align: left;
    color: black;
  }
  main {
    width: 100%;
    margin: 0 auto;
  }
  
  q {
    background: #e0e0e0;
  }
  
  
  /* The Header */
  .header {
    padding: 5%;
    text-align: center;
    background: #add8e6;
    color: white;
  }
  /* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 2% 0%;
  }
  
  /* Style the header links */
  .header a {
    float:left;
    color: black;
    text-align:center;
    padding: 1.5%;
    text-decoration: none;
    font-size: 14pt; 
    line-height: 50%;
    border-radius: 5%;
    margin-top: 0%;

  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    height: auto ;
    width: 20%;
    
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-centre {
    align-items:center;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 2% 17%;
    text-align: center;
  }

  /* Add a black background color to the top navigation bar */
.searchbar {
    overflow:visible;
    background-color:none;
    padding: 1% 5%;
    margin-top: none;
    margin-bottom: none;
   float:inline-end;
    
  }
  
  /* Style the links inside the navigation bar */
  .searchbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 2% 2%;
    text-decoration: none;
    font-size: 17pt;
    
  }
  
  /* Change the color of links on hover */
  .searchbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .searchbar a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .searchbar input[type=text] {
    float: right;
    padding: 4% 2%;
    border: none;
    margin-top: 1%;
    margin-right: 0%;
    font-size: 12pt;
    
    
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .searchbar a, .searchbar input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 3%;
    }
    .searchbar input[type=text] {
      border: 2% solid #ccc;
    }
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .searchbar {
      float: none;
    }
  }
  
  
  
  /* background colour*/
  .background {
    padding: 30%;
    text-align: left;
    background: #f3d3b7;
    color: white;
  }
  
  /*image dimensions*/
  img {
    width: 100%;
    height: auto;
    background: none;
    border-bottom: none;
  }



/* below is for artists page*/

/* Three columns side by side */
.column {
    float:left;
    width: 33.33%;
    height: auto;
    margin-bottom: 15%;
    margin-top: 15%;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 900px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
